{{#section 'css'}}
<style>
    .btnChange {
        background-color: #646464;
        font-size: 18px;
        border: none
    }

    .btnChange:hover {
        background-color: #545454;
    }

    .img {
        background-image: url("/public/img/bg_account.png");
        background-size: 100% 100%;
    }

    .card {
        box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
        width: 30%;
    }

    .field-icon {
        float: right;
        margin-top: -27px;
        margin-right: 10px;
        font-size: medium;
        position: relative;
    }

    .centerSignIn {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
    }

    .modal-body {
        margin:0;
    }
    

    @media only screen and (max-width: 800px) {
        .card {
            width: 80%;
        }
    }

</style>
{{/section}}

{{#section 'js'}}
<script>
    $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    {{#if err_message}}
        $('#myModal').modal('show')
    {{/if}}

    {{#if success_message}}
        $('#myModal').modal('show')
    {{/if}}
</script>
{{/section}}

<div class="img mt-5">
    <div class="d-flex justify-content-center text-alignment-center">
        <div class="card my-5">
            <form class="my-3 mx-4" method="post" id="frmChangePassword">
                <h3 style="text-align:center;">Change Password</h3>
                
                <div class="form-group my-3">
                    <i class="fa fa-lock" style="font-size:medium" aria-hidden="true"></i>
                    <label for="txtCurrentPassword">Current Password</label>
                    <input name="currentPassword" type="password" class="form-control" id="txtCurrentPassword" placeholder="●●●●●●●●●●"
                    oninvalid="setCustomValidity('Empty! Please input current password');" 
                    oninput="setCustomValidity('');"
                    required>
                    <span toggle="#txtCurrentPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                            
                <div class="form-group my-3">
                    <i class="fa fa-lock" style="font-size:medium" aria-hidden="true"></i>
                    <label for="txtNewPassword">New Password</label>
                    <input required name="newPassword" type="password" class="form-control" id="txtNewPassword" placeholder="●●●●●●●●●●"
                    oninvalid="setCustomValidity('Empty! Please input new password');" 
                    oninput="setCustomValidity('');"
                    required>
                    <span toggle="#txtNewPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                            
                <div class="form-group my-3">
                    <i class="fa fa-lock" style="font-size:medium" aria-hidden="true"></i>
                    <label for="txtConfirm">Confirm New Password</label>
                    <input name="confirmPassword" type="password" class="form-control" id="txtConfirm" placeholder="●●●●●●●●●●"
                    oninvalid="setCustomValidity('Empty! Please confirm the password');" 
                    oninput="setCustomValidity('');"
                    required>
                    <span toggle="#txtConfirm" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>

                <div class="form-group mt-3" style="text-align: center;">
                    <button type="submit"  class="btn btn-primary btnChange">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade modal-center" role="dialog">
     {{!-- <div class="modal-dialog modal-dialog-centered" role="document"> --}}
    <div class="modal-dialog" style="background-color: bisque;">
    <!-- Modal content-->
    <div class="modal-content" style="border-radius:0">
        {{#if success_message}} 
            <div class="modal-header" style="border-radius:0; background-color:green">
            <h5 class="modal-title" style="color: white;"><i class="fa fa-check" aria-hidden="true"></i> Success Change Password</h5>
        {{/if}}
        {{#if err_message}}
            <div class="modal-header" style="border-radius:0; background-color:#F80040">
            <h5 class="modal-title" style="color: white;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Fail Change Password</h5>    
        {{/if}}
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            {{#if err_message}}
                <p>{{err_message}}</p>
            {{/if}}
            {{#if success_message}} 
                <p>{{success_message}}</p>
            {{/if}}
        </div>
        <div class="modal-footer" style="border: none; margin:0">
            <button type="button" style="border: none;" class="btn btn-primary btnChange" data-dismiss="modal">
                {{#if err_message}}
                    Try Again
                {{/if}}
                {{#if success_message}}
                    Ok
                {{/if}}
            </button>
        </div>
    </div>
    </div>
     {{!-- </div> --}}
</div>