<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/style_sign.css">
    <title>Document</title>
</head>
<body>
    <div class="img">
        <div class="d-flex justify-content-center text-alignment-center">
            <div class="card my-5 mx-3">
                <form class="my-2 mx-4" method="post" id="frmChangePassword">
                    <h3 style="text-align:center; font-size: 40px; font-weight: bold">New Password</h3>

                    <div class="d-flex justify-content-center">
                        <img src="/public/img/password.png" width="40%">
                    </div>

                    <div class="form-group my-3">
                        <input required name="newPassword" type="password" class="form-control" id="txtNewPassword" placeholder="New Password"
                        oninvalid="invalidPassword(this)"
                        oninput="invalidPassword(this)">
                        <span toggle="#txtNewPassword" class="fa fa-fw fa-eye field-icon toggle-password" style="color:rgb(95, 95, 95)"></span>
                    </div>
                                
                    <div class="form-group my-3">
                        <input name="confirmPassword" type="password" class="form-control" id="txtConfirm" placeholder="Confirm New Password"
                        oninvalid="invalidPassword(this)"
                        oninput="invalidPassword(this)">
                        <span toggle="#txtConfirm" class="fa fa-fw fa-eye field-icon toggle-password" style="color:rgb(95, 95, 95)"></span>
                    </div>

                    <div class="form-group mt-3" style="text-align: center;">
                        <button type="submit"  class="btn btn-primary btnChange">
                            Change
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade modal-center" role="dialog">
        {{!-- <div class="modal-dialog modal-dialog-centered" role="document"> --}}
        <div class="modal-dialog" style="background-color: bisque;">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius:0">
            {{#if success_message}} 
                <div class="modal-header" style="border-radius:0; background-color:green">
                <h5 class="modal-title" style="color: white;"><i class="fa fa-check" aria-hidden="true"></i> Success Change Password</h5>
            {{/if}}
            {{#if err_message}}
                <div class="modal-header" style="border-radius:0; background-color:#F80040">
                <h5 class="modal-title" style="color: white;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Fail Change Password</h5>    
            {{/if}}
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{#if err_message}}
                    <p>{{err_message}}</p>
                {{/if}}
                {{#if success_message}} 
                    <p>{{success_message}}</p>
                {{/if}}
            </div>
            <div class="modal-footer" style="border: none; margin:0">
                    {{#if err_message}}
                    <button type="button" style="border: none;" class="btn btn-primary btnChange" data-dismiss="modal">
                        Try Again
                    </button>
                    {{/if}}
                    {{#if success_message}}
                        <a type="button" style="border: none;" class="btn btn-primary btnChange" href="/account/login">Ok</a>
                    {{/if}}
                
            </div>
        </div>
        </div>
        {{!-- </div> --}}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
        function invalidPassword(textbox) {
            var checkLower = /[a-z]+/.test(textbox.value);
            var checkUpper = /[A-Z]+/.test(textbox.value);
            if(textbox.value.length === 0) {
            textbox.setCustomValidity('Empty! Please input password');
            } else if(textbox.value.length < 8) {
            textbox.setCustomValidity('Password length is at least 8.');
            } else if(checkLower === false) {
            textbox.setCustomValidity('Password has at least one lowercase.');
            } else if(checkUpper === false) {
            textbox.setCustomValidity('Password has at least one uppercase.');
            } else {
            textbox.setCustomValidity('');
            }
            return true
        }
        $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        {{#if err_message}}
            $('#myModal').modal('show')
        {{/if}}

        {{#if success_message}}
            $('#myModal').modal('show')
        {{/if}}
    </script>
</body>
</html>