<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_sign.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>DO AN</title>
</head>
<body>
    <div class="frmContain">
      <div class="container">
        <div class="frmBack">
          <h2 class="my-4">Hello ●ω●</h2>
          <h3 class="my-2">You had an account?</h3>
            <a href="/account/login" class="btn btn-primary" role="button" style="background: linear-gradient(45deg, #4876FF, #000080); border-radius: 50px; font-size: 25px;">
              Sign in
            </a>
        </div>
      </div>
      <div class ="frmSign">
        <div class = "center_">
        <div class="form-content mx-4">
          <div class="login">
            Sign Up
          </div>
          <form method="post" id="frmRegister">
              <div class="input-box">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <label for="txtUsername">Username
                    <font class="inval-text" id="invalUsername"> * </font>
                </label>
                <input name="username" type="text" id="txtUsername" class="form-control" autofocus placeholder= "abc">      
              </div>
              <div class="input-box">
                <i class="fa fa-key" aria-hidden="true"></i>
                <label for="txtPassword">Password
                    <font class="inval-text" id="invalPassword"> * </font>
                </label>
                <input name="password" type="password" class="form-control" id="txtPassword" placeholder="●●●●●●●●●●">
              </div>
              <div class="column">
                <div class="input-box">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <label for="txtName">Fullname
                      <font class="inval-text" id="invalName"> * </font>
                  </label>
                  <input name="name" type="text" class="form-control" id="txtName" placeholder="Nguyễn Văn A">
                </div>
                <div class="input-box">
                  <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                  <label for="txtDOB">Date Of Birth
                      <font class="inval-text" id="invalDOB"> * </font>
                  </label>
                  <input name="dob" input type="date" class="form-control" id="txtDOB">
                </div>
              </div>
              <div class="input-box">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <label for="txtEmail">Email
                    <font class="inval-text" id="invalEmail"> * </font>
                </label>
                <input name="email" type="text" class="form-control" id="txtEmail" placeholder="example@gmail.com">
              </div>   
              <div class="check-box">
                <input type="checkbox" id="myCheck" name="myCheck" value="Bike">
                <label for="myCheck"> I agree with your condition</label><br>
              </div>
              <div class="mb-3" style="text-align: center;">
                <button type="submit" class="btn btn-primary" style="background: linear-gradient(120deg, #4876FF, #000080); border-radius: 50px; font-size: 20px;">
                  Sign up
                </button>
              </div>
          </form>
        </div>
      </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
      function checkEmpty(property) {
        if(property.length === 0) {
            return false;
        }
        return true;
      }

      function checkEmail(email) {
        var filter = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
        if(email.length === 0) {
            return false;
        }

        if(filter.test(email) === false){
            return false;
        }
        return true;
      }

      $('#frmRegister').on('submit', function(e) {
        e.preventDefault();

        const username = document.querySelector('#txtUsername').value;
        const password = document.querySelector('#txtPassword').value;
        const fullname = document.querySelector('#txtName').value;
        const dob = document.querySelector('#txtDOB').value;
        const email = document.querySelector('#txtEmail').value;
        
        var check = true;
        if(checkEmpty(username) === false) {
            check = false;
            document.getElementById("invalUsername").innerHTML = " * ";
            document.querySelector('#invalUsername').style.visibility = 'visible';
        }
        else 
            document.querySelector('#invalUsername').style.visibility = 'hidden';

        if(checkEmpty(password) === false) {
            check = false;
            document.querySelector('#invalPassword').style.visibility = 'visible';
        }
        else 
            document.querySelector('#invalPassword').style.visibility = 'hidden';

        if(checkEmpty(fullname) === false) {
            check = false;
            document.querySelector('#invalName').style.visibility = 'visible';
        }
        else 
            document.querySelector('#invalName').style.visibility = 'hidden';

        if(checkEmpty(dob) === false) {
            check = false;
            document.querySelector('#invalDOB').style.visibility = 'visible';
        }
        else 
            document.querySelector('#invalDOB').style.visibility = 'hidden';

        if(checkEmail(email) === false) {
            check = false;
            document.getElementById("invalEmail").innerHTML = " * ";
            document.querySelector('#invalEmail').style.visibility = 'visible';
        }
        else 
            document.querySelector('#invalEmail').style.visibility = 'hidden';

        $.getJSON(`/account/is-available-username?user=${username}`, function (data) {
          if (data === false) {
            document.getElementById("invalUsername").innerHTML = " * your username is already exists";
            document.querySelector('#invalUsername').style.visibility = 'visible';
            check = false;
          }
        });

        /* check Email trung
        $.getJSON(`/account/is-available-email?user=${email}`, function (data) {
          if (data === false) {
            document.getElementById("invalEmail").innerHTML = " * your email is already exists";
            document.querySelector('#invalEmail').style.visibility = 'visible';
            check = false;
          }
        }); */

        if(document.getElementById("myCheck").checked === false) {
          check = false;
          alert('Accept my condition to continue');
        }

        if(check === true) {   
          $('#frmRegister').off('submit').submit();
        }
      });

      $('#txtUsername').select();
    </script>
</body>
</html>