*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
} 

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body{
    background:linear-gradient(#FF7F50, #000033); 
}

.frmContain {
    min-height: 80vh;
    width: 70%;   
    position: relative;
    display:flex; 
    justify-content:space-between; 
    box-shadow: 10px 10px 68px -6px;
    border-radius: 20px;
}

.container {
    flex: 1;
    border-radius: 20px 0px 0px 20px;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  linear-gradient(rgba(0,0,0,.5), rgba(255,255,255,.3)), url("https://www.oberlo.com/media/1603898030-womans-hands-typing-laptop-scaled.jpg?fit=max&fm=jpg&w=1824");
    background-size: 100% 100%;
    position:relative;
}

.frmSign .form-content .login {
    text-align: center; 
    font-family:'Jost', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.frmBack {
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.frmSign {
    flex: 1;
    min-height: 100%;
    width: 100%;
    font-size: 15px;
    border-radius: 0px 20px 20px 0px;
    background-color:white;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.form-content {
   height:100%;
}

.inval-text {
    color:red; 
    visibility:hidden;
}

.frmSign .form-content .input-box {
    position: relative;
    width: 100%;
    font-size: 17px;
    margin-top: 20px;
}

.frmSign .form-content .input-box input{
    border-radius: 50px;
}

.frmSign .form-content i {
    position: relative;
    font-size: 15px;
}

.frmSign .form-content .column {
    position: relative;
    display: flex;
    column-gap: 20px;
}

.frmSign .form-content .check-box {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

#btn_sign {
    background: linear-gradient(45deg, #4876FF, #000080); 
    border-radius: 50px; 
    font-size: 20px;
}

#btn_fb {
    width: 38px;
    border-radius: 50px;
    background-color:#000099;
    border: none;
    font-weight: bold;
}

#btn_gg {
    width: 38px;
    border-radius: 50px;
    background-color:red;
    border: none;
}

#btn_sendOTP {
    border: none;
    font-size: 20px;
    background: linear-gradient(45deg, #4876FF, #000080); 
}

#btn_cancel {
    border: none;
    font-size: 20px;
    background: linear-gradient(45deg, #4876FF, #000080); 
}

@media only screen and (max-width: 930px){
    .frmSign .form-content .column {
        display: inline;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        display: none;
    }
    .frmLogin {
        border-radius: 20px;
    }
    
    .frmSign {
        border-radius: 20px;
    }

    .frmSign .form-content .column {
        flex-direction: column;
    }
}