<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                        <div class="col-xl-12 ml-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Categories Table</h5>
                                    <a name="" id="" class="btn btn-outline-primary float-right"
                                            href="/admin/teacher" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Add more</a>
                                    <span class="d-block m-t-5">Danh sach cac <code>Linh Vuc</code> cua he thong
                                       </span>
                                </div>
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Category ID</th>
                                                    <th>Category Name</th>
                                                    <th colspan="2">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this.categories}}
                                                <form method="post" action="" >
                                                <tr class="">
                                                    <td>{{MaLinhVuc}}</td>
                                                    <td>{{TenLinhVuc}}</td>
                                                    <td colspan="2">
                                                        <a href="#" class="view fa-2x" title="View" data-toggle="tooltip"><i class="fa fa-wrench fa-sm ml-2 " aria-hidden="true"></i></i></a>
                                                        <button type="submit" class="btn btn-outline-danger btn-sm ml-2" ><center><i class="material-icons">&#xE872;</i></center></button>
                                                    </td>
                                                </tr>
                                                </form>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>