<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Teachers</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase"><a class="text-white" href="/teacher">Teachers</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase"><a class="text-white" href="/teacher/courses">Courses</a></p>
            </div>
        </div>
    </div>
</div>

<div class="card container-fluid-py-10">
    <h4 class="card-header d-flex justify-content-between">
        Courses
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            Không có dữ liệu!
        </div>
    {{else}}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>STT</th>
                    <th>Name course</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.courses}}
                    <tr>
                        <td scope="row">{{CatID}}</td>
                        <td>{{CatName}}</td>
                        <td class="text-right">
                            <a class="btn btn-primary btn-sm" href="/admin/categories/edit?id={{CatID}}" role="button" title="Edit
                            Category">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" href="/admin/categories/add" role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </td>
                    </tr>
                {{/each}}
                    <tr>
                    <td scope="row">ID01</td>
                    <td>01</td>
                    <td>
                        Web Design Course
                    </td>
                    <td>Done</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" href="/admin/categories/add" role="button">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                            Edit
                        </a>
                    </td>
                <tr>
                    <td scope="row">ID02</td>
                    <td>02</td>
                    <td>
                        HTML & CSS Cash Course Tutorial
                    </td>
                    <td>Inprogress</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" href="/admin/categories/add" role="button">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {{/if}}
</div>