{{#section "css"}}
<style>
    /*CSS FOR INPUT COURSE*/
    .btn_round {
        width: 35px;
        height: 35px;
        display:
            inline-block;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        margin-left: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .btn_round:hover {
        color: #fff;
        background: #6b4acc;
        border: 1px solid #6b4acc;
    }

    .btn_content_outer {
        display: inline-block;
        width: 85%;
    }

    .close_c_btn {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 0px;
        line-height: 30px;
        border-radius: 50%;
        background: #ededed;
        border: 1px solid #ccc;
        color: #ff5c5c;
        text-align: center;
        cursor: pointer;
    }

    .add_icon {
        padding: 10px;
        border: 1px dashed #aaa;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
    }

    .add_group_btn {
        display: flex;
    }

    .add_group_btn i {
        font-size: 32px;
        display: inline-block;
        margin-right:
            10px;
    }

    .add_group_btn span {
        margin-top: 8px;
    }

    .add_group_btn,
    .clone_sub_task {
        cursor: pointer;
    }

    .sub_task_append_area .custom_square {
        cursor: move;
    }

    .del_btn_d {
        display: inline-block;
        position: absolute;
        right: 20px;
        border: 2px solid #ccc;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
    }
</style>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
<style>
    #frmAdd {
        background-image: url(/public/img/bg_account.png);
    }

    #frmInputCourse {
        background-color: white;
    }
</style>
{{/section}}

{{#section "js"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $('#txtDOB').datetimepicker({
    timepicker:false,
    format:'d/m/Y',
    mask: true
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa4/theme.min.js"></script>
<script>
        $('#fuMain').fileinput({
            dropZoneEnabled: false, maxFileCount: 5, theme:
                'fa4', allowedFileExtensions: ['jpg', 'png', 'gif'],
        });
</script>
{{/section}}

<section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="card container-fluid py-3 px-5 ml-3" style="font-size:20px"  id="frmAdd">
                <form method="post" id="frmInputCourse" class="container-fluid">
                <div class="page-header-title mt-3">
                    <h5 class="m-b-10">
                        <h2 style="text-align: center;">
                            {{#if isStudent}}
                                Add Student Information
                            {{else}}
                                Add Teacher Information
                            {{/if}}
                        </h2>
                    </h5>
                </div>
                <!--        NameCourse-->
                <div class="form-group row">

                    <div class="col-6">
                        <label for="txtNameCourse">Username</label>
                        <input name="Username" type="text" class="form-control" id="txtNameCourse" autofocus />
                    </div>
                    <div class="col-6">
                        <label for="txtNameCourse">Password</label>
                        <input name="Password" type="password" class="form-control" id="txtNameCourse" autofocus />
                    </div>

                </div>
                <div class="form-group row">

                    <div class="col-6">
                        <label for="txtNameCourse">Name</label>
                        <input name="Name" type="text" class="form-control" id="txtNameCourse" autofocus />
                    </div>
                    <div class="col-6">
                        <label for="txtNameCourse">Email</label>
                        <input name="Email" type="text" class="form-control" id="txtNameCourse" autofocus />
                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-6">
                        <label for="txtNameCourse">Account type</label>
                        {{#if isStudent}}
                        <input name="LoaiTaiKhoan" type="text" class="form-control" id="txtNameCourse" autofocus
                            value="Học Viên" readonly />
                        {{else}}
                        <input name="LoaiTaiKhoan" type="text" class="form-control" id="txtNameCourse" autofocus
                            value="Giáo Viên" readonly />
                        {{/if}}
                    </div>
                    <div class="col-6">
                        <label for="example">Date of bird</label>
                        <i class="fas fa-calendar input-prefix"></i>
                        <input placeholder="Select date" type="text" id="txtDOB" name="DOB"
                            class="form-control" />
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-6">
                        <label for="txtNameCourse">Address</label>
                        <input name="DiaChi" type="text" class="form-control" id="txtNameCourse" autofocus />
                    </div>
                    <div class="col-6">
                        <label for="txtNameCourse">Phone number</label>
                        <input name="SDT" type="text" class="form-control" id="txtNameCourse" autofocus />
                    </div>
                    <!--        Description-->

                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label for="fuMain">Avatar</label>
                        <input type="file" multiple id="fuMain" name="Avatar" />
                    </div>
                </div>
                <div class="form-group">
                    {{#if isStudent}}
                    {{else}}
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="Mota" class="form-control" id="txtMota" rows="4" >{{this.info.MoTa}}</textarea>
                    </div>
                    {{/if}}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
                </form>
            </div>
        </div>
</section>