{{#section 'css'}}
<style>
    .card-body {
        margin: 0;
        padding-top: 40px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }

    .account-settings .user-profile .user-avatar img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }

    .account-settings .about p {
        font-size: 0.825rem;
    }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
</style>
{{/section}}

<form method="post" id="frmInputCourse" class="container-fluid py-10 mt-3">
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content m-3">
                <div class="main-body mt-3">
                    <div class="page-wrapper">
                        <div class="row mt-3">
                        <div class="col-xl-12 ml-3">
                            <div class="card">
            
                                <div class="card-header mt-3">
                                    <h6 class="mb-2 text-primary">Enter information of teacher</h6>
                                </div>
                                <div class="card-body table-border-style">
                                    <div class="row">
                                                <div class="form-group col-6">
                                                    <label for="txtName">Full Name</label>
                                                    <input name="name" type="text" class="form-control" id="txtName"
                                                        value="{{this.teacher.Name}}">
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="txtEmail">Email</label>
                                                    <input name="email" type="email" class="form-control" id="txtEmail"
                                                        value="{{this.teacher.Email}}">
                                                </div>
                                     </div>
                                </div>
                                            <div class="card-body table-border-style">
                                                <div class="row">
                                                <div class="form-group col-6">
                                                    <label for="txtPhone">Phone</label>
                                                    <input name="phone" type="text" class="form-control" id="txtPhone"
                                                        value="{{this.teacher.SDT}}">
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="txtWebsite">Website URL</label>
                                                    <input name="website" type="url" class="form-control"
                                                        id="txtWebsite" value="Website url">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <h6 class="mt-3 mb-2 text-primary ml-4">Address</h6>
                                            </div>
                                            <div class="card-body table-border-style">
                                                <div class="form-group">
                                                    <label for="txtStreet">Street</label>
                                                    <input name="street" type="name" class="form-control" id="txtStreet"
                                                        value="227 Nguyen Van Cu">
                                                </div>
                                            </div>
                                            <div class="card-body table-border-style">
                                                <div class="form-group">
                                                    <label for="txtCity">City</label>
                                                    <input name="city" type="name" class="form-control" id="txtCity"
                                                        value="Ho Chi Minh City">
                                                </div>
                                            </div>
                                            <div class="card-body table-border-style">
                                                <div class="form-group">
                                                    <label for="sTate">State</label>
                                                    <input type="text" class="form-control" id="sTate"
                                                        value="Enter State">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="text-right">
                                                    <button type="button" class="btn btn-secondary"
                                                        onclick="location.href='/teacher'">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                        Add
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>